body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}

.validation-error {
  align-self: center;
  font-size: 13px;
  color: red;
}

.container-wrap {
  margin: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #171724;
  max-width: 100%;
}

.register-panel {
  background-color: #232241;
  padding: 10px;
  display: flex;
  border-radius: 5px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-pic {
  flex: 1;
  height: 100%;
  border-radius: 5px;
}

.input-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #ec858f;
}

.submit-btn {
  margin-top: 30px;
  height: 70px;
  background: linear-gradient(0.65turn, #e66465, #9198e5);
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

.register-title {
  text-align: center;
  font-size: 30px;
  color: #ec858f;
}

.input-field {
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
}

.input-field:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

.label {
  text-align: center;
  width: 100%;
  font-size: 15px;
  margin: 0;
}

.register-pic {
  width: 100%;
  height: 100%;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spinner-border {
  width: 100px;
  height: 100px;
}

.nav-link {
  color: pink;
}
