body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 0;
}

.navbar-item {
  color: pink;
  cursor: pointer;
}

.nav-item:hover {
}

.navbar-item:hover > .nav-link {
  color: white;
  border-bottom: 0;
}
